<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="willhtun.homepal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".Home"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rent"
            android:screenOrientation="portrait"/>
        <activity android:name=".Car"
            android:screenOrientation="portrait"/>
        <activity android:name=".Internet"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mobile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Electricity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Water"
            android:screenOrientation="portrait"/>
        <activity android:name=".Gas"
            android:screenOrientation="portrait"/>
        <activity android:name=".Trash"
            android:screenOrientation="portrait"/>
        <activity android:name=".Custom1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Custom2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Custom3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Custom4"
            android:screenOrientation="portrait"/>
        <activity android:name=".Custom5"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsN"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsNAddBills"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsNDueDates"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsNHousemates"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsNBillSharing"
            android:screenOrientation="portrait"/>

        <receiver android:name=".NotificationTask" />
        <receiver
            android:name=".NotificationScheduler"
            android:enabled="true" />
        <receiver
            android:name=".WakeUpAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>